.link--text-decoration {
  text-decoration: none;
}

.header {
  display: grid;
  justify-content: center;
  grid-template: 1fr/max-content 1fr;
  -moz-column-gap: 166px;
       column-gap: 166px;
}
.header--size {
  width: clamp(300px, 100vw, 1920px);
  min-height: 100vh;
  padding-inline: 110px 116px;
}
.header__slogan {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.header__slogan-font {
  font-family: var(--font-family-dm-sans);
  font-weight: var(--font-weight-bold);
  font-size: clamp(25px, 3.4895833333vw, 67px);
  line-height: 1.29;
}

.download__container {
  padding-top: 87px;
  align-self: start;
}
.download__link {
  font-size: clamp(20px, 1.4583333333vw, 28px);
  font-family: var(--font-family-dm-sans);
  font-weight: var(--font-weight-bold);
  line-height: 1.28;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__link--color {
  color: var(--text-white);
}
.download__link--size {
  width: clamp(80px, 8.12vw, 156px);
  height: clamp(30px, 3.12vw, 60px);
}
.download__link--background {
  background-color: var(--background-black);
}
.download__link--border {
  border-radius: 4px;
}

.window-program {
  display: flex;
  align-items: center;
}

@font-face {
  font-family: "Roboto";
  src: url("../font-styles/Roboto_Condensed-Bold.woff") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font-styles/Roboto_Condensed-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../font-styles/Roboto_Condensed-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --background-black: hsla(0, 5%, 11%, 1);
  --text-white: hsla(206, 89%, 99%, 1);
  --text-black: hsla(208, 17%, 13%, 1);
  --text-black-title: var(--background-black);
  --text-blue: hsla(206, 89%, 55%, 1);
  --text-gray: hsla(209, 18%, 45%, 1);
  --background-white: var(--text-white);
  --background-gray: hsla(204, 19%, 95%, 1);
  --font-28: 28px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-family-poppins: "Poppins", "Times New Roman";
  --font-family-dm-sans: "DM_Sans", "Times New Roman";
  --font-family-epilogue: "Epilogue", "Times New Roman";
  --transition: all 0.2s linear;
}

.link__hover--hover:hover {
  color: #da0000;
}

.menu__link--button-hover:hover {
  scale: 1.05;
}/*# sourceMappingURL=main.css.map */