.link--text-decoration {
  text-decoration: none;
}

.link__hover {
  transition: var(--transition);
}

.header {
  display: flex;
  justify-content: center;
  -moz-column-gap: 166px;
       column-gap: 166px;
}
.header--size {
  width: clamp(300px, 100vw, 1920px);
  min-height: 100vh;
  padding-inline: 110px 116px;
  margin-inline: auto;
}
.header__slogan {
  align-self: center;
  display: flex;
  flex-direction: column;
}
.header__slogan-font {
  font-family: var(--font-family-dm-sans);
  font-weight: var(--font-weight-bold);
  font-size: clamp(30px, 3.4895833333vw, 67px);
  line-height: 1.29;
}

.download__container {
  padding-top: 87px;
  align-self: start;
}
.download__link {
  font-size: clamp(20px, 1.4583333333vw, 28px);
  font-family: var(--font-family-dm-sans);
  font-weight: var(--font-weight-bold);
  line-height: 1.28;
  display: flex;
  align-items: center;
  justify-content: center;
}
.download__link--color {
  color: var(--text-white);
}
.download__link--size {
  padding-block: clamp(7px, 0.5989583333vw, 11.5px);
  padding-right: clamp(10px, 2.0833333333vw, 40px);
  padding-left: clamp(10px, 1.7708333333vw, 34px);
}
.download__link--background {
  background-color: var(--background-black);
}
.download__link--border {
  border-radius: clamp(2px, 0.46875vw, 9px);
  border: solid 3px var(--background-black);
}

.window-program {
  display: flex;
  align-items: center;
}
.window-program--size {
  flex-shrink: 0.6;
}

@font-face {
  font-family: "DMSans";
  src: url("../font-styles/DMSans18pt-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Epilogue";
  src: url("../font-styles/Epilogue-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../font-styles/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../font-styles/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(ul[class]) {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
select,
button {
  font: inherit;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100%;
  line-height: 1.5;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  /* Colors */
  --background-black: hsla(0, 5%, 11%, 1);
  --background-white: hsla(206, 89%, 99%, 1);
  --background-gray: hsla(204, 19%, 95%, 1);
  --text-white: var(--background-white);
  --text-black: hsla(208, 17%, 13%, 1);
  --text-black-title: var(--background-black);
  --text-blue: hsla(206, 89%, 55%, 1);
  --text-gray: hsla(209, 18%, 45%, 1);
  /* Font Sizes */
  --font-28: 28px;
  /* Font Weights */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  /* Font Families */
  --font-family-poppins: "Poppins", sans-serif;
  --font-family-dm-sans: "DM Sans", sans-serif;
  --font-family-epilogue: "Epilogue", sans-serif;
  /* Transitions */
  --transition: all 0.2s linear;
}

@media (max-width: 1450px) {
  .header--size {
    padding-inline: 50px;
  }
  .download__container {
    padding-top: 50px;
  }
  .window-program--size {
    max-width: 550px;
  }
}
@media (max-width: 1150px) {
  .header {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
  .header--size {
    padding-inline: 20px;
  }
  .window-program--size {
    max-width: 400px;
  }
}
@media (max-width: 800px) {
  .header {
    flex-direction: column;
    padding-inline: 0;
  }
  .header__slogan-title {
    width: 70vw;
    text-align: center;
    padding-top: 20px;
  }
  .download__container {
    align-self: center;
    padding-block: 50px;
  }
  .window-program--size {
    max-width: clamp(200px, 70vw, 500px);
    align-self: center;
  }
}
@media (max-width: 600px) {
  .header {
    flex-direction: column;
    padding-inline: 0;
  }
  .header__slogan-title {
    padding-top: 0px;
  }
}
@media (hover: hover) {
  .link__hover--hover:hover {
    color: var(--text-black);
    background-color: var(--background-gray);
  }
}/*# sourceMappingURL=main.css.map */