@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --white: #fff;
  --black: #000;
  --gray: #a2a2a2;
  --alt-white: #e8eae6;
  --alt-black: #22252a;
  --border-color: #2e3138;
  --alt-border-color: #333;
  --bor-rad: 30px;
  --stick-bor-rad: 50px;
  --cir-bor-rad: 100%;
  --bor-width: 2px;
  --alt-bor-width: 3px;
  --fon-fam: "MavenPro", sans-serif;
  --fon-size-20: 20px;
  --fon-size-25: 25px;
  --fon-size-34: 34px;
  --fon-weight: 400;
  --transit: 0.2s;
}

@font-face {
  font-family: "MavenPro";
  src: url("../fonts/MavenPro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
* {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main {
  position: relative;
  display: grid;
  grid-template: 100%/20% 50% 30%;
  min-height: 100vh;
}
.main .menu-bar {
  display: flex;
  align-items: center;
}
.main .menu-bar > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block: 47px;
  background-color: var(--black);
  width: 50px;
  height: 177px;
  border-radius: var(--bor-rad);
  margin-left: clamp(34px, 2.81vw, 54px);
}
.main .menu-bar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main .menu-bar .setting {
  background-image: url("../img/Settings_Icon.svg");
  background-size: contain;
  transition: calc(var(--transit) + 0.2s);
  width: 20px;
  aspect-ratio: 1;
}
.main .menu-bar .setting:hover {
  rotate: -90deg;
  scale: 1.1;
}
.main .menu-bar .home {
  background-image: url("../img/Home_Icon.svg");
  background-size: contain;
  transition: var(--transit);
  width: 20px;
  aspect-ratio: 1;
}
.main .menu-bar .home:hover {
  scale: 1.1;
}
.main .menu-bar .circle {
  width: 4px;
  aspect-ratio: 1;
  margin-top: 4px;
}
.main .menu-bar .menu-bar__focus {
  background-color: var(--white);
  border-radius: var(--cir-bor-rad);
}
.main .btn-main {
  display: flex;
  flex-direction: column;
  row-gap: clamp(30px, 9.25vh, 100px);
  justify-content: start;
  margin-top: clamp(50px, 9.26vh, 200px);
}
.main .btn-main > div {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  align-items: center;
}
.main .btn-main .nav-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  border-radius: var(--bor-rad);
  border: solid var(--alt-black) var(--bor-width);
  background-color: var(--black);
  color: var(--alt-white);
  font-family: var(--fon-fam);
  font-size: clamp(15px, 18px, var(--fon-size-20));
  font-weight: var(--fon-weight);
  text-align: left;
  padding-left: 35px;
  padding-block: 12px;
  width: clamp(300px, 33.32vw, 638px);
}
.main .btn-main .nav-btn::after {
  content: "";
  position: relative;
  top: 2px;
  display: inline-block;
  border: 5px solid transparent;
  border-top: 7px solid var(--alt-white);
  margin-right: 15px;
}
.main .btn-main .status-loading {
  font-family: var(--fon-fam);
  font-size: var(--fon-size-34);
  font-weight: var(--fon-weight);
  text-align: center;
  margin-bottom: 5px;
}
.main .btn-main .working-time {
  font-family: var(--fon-fam);
  font-size: var(--fon-size-34);
}
.main .btn-main .main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--black) var(--bor-width);
  border-radius: var(--cir-bor-rad);
  width: clamp(70px, 5.21vw, 120px);
  aspect-ratio: 1;
  background-color: transparent;
  transition: var(--transit);
}
.main .btn-main .main-btn:hover {
  box-shadow: inset 0px 0px 10px var(--black);
}
.main .btn-main .main-btn .switch {
  width: clamp(18px, 1.3vw, 25px);
  aspect-ratio: 1;
  background-image: url("../img/Switch.svg");
  background-size: contain;
}

.logs {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 30px;
  padding-right: 40px;
  row-gap: 20px;
}
.logs .status-box span {
  font-family: var(--fon-fam);
}
.logs .status-box span:first-child {
  color: var(--gray);
}
.logs-history {
  width: 34px;
  aspect-ratio: 1;
  background-image: url("../img/History_Icon.svg");
  background-size: contain;
  transition: var(--transit);
  margin-bottom: 10px;
}
.logs-history:hover {
  rotate: -20deg;
}
.logs-bar {
  display: none;
  width: clamp(100px, 200px, 100%);
  height: -moz-max-content;
  height: max-content;
  background-color: var(--gray);
  border-radius: 5px;
  padding: 27px;
  transition: var(--transit);
}
.logs-bar-block {
  display: block;
}

.settings-bar {
  position: absolute;
  display: none;
  flex-direction: column;
  row-gap: 31px;
  bottom: 0;
  left: 25%;
  width: 50vw;
  height: 40vh;
  min-height: -moz-max-content;
  min-height: max-content;
  background-color: var(--black);
  border: solid var(--alt-bor-color) var(--bor-width);
  border-radius: calc(var(--bor-rad) + 10px) calc(var(--bor-rad) + 10px) 0 0;
  padding: 15px 63px;
}
.settings-bar .stick {
  width: 50px;
  height: 14px;
  border: solid var(--black) 5px;
  background-color: var(--white);
  border-radius: var(--bor-rad);
  margin-inline: auto;
  transition: var(--transit);
}
.settings-bar .stick:hover {
  background-color: var(--gray);
}
.settings-bar .nav-settings {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
.settings-bar .arp-spoofing-btn,
.settings-bar .dhcp-spoofing-btn {
  position: relative;
  display: flex;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: var(--white);
  border-radius: var(--bor-rad);
  padding-block: 10px;
  border: solid var(--alt-bor-color) var(--bor-width);
  font-family: var(--fon-fam);
  font-size: 25px;
  font-weight: var(--fon-weight);
}
.settings-bar .arp-spoofing-btn .title-spoof,
.settings-bar .dhcp-spoofing-btn .title-spoof {
  padding-left: 60px;
}
.settings-bar .arp-spoofing-btn .bullitts,
.settings-bar .dhcp-spoofing-btn .bullitts {
  height: 100%;
  width: 40px;
  bottom: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  row-gap: 3px;
  justify-content: center;
  align-items: center;
  border-right: solid var(--black) var(--bor-width);
}
.settings-bar .arp-spoofing-btn .bullitts .bullits-item,
.settings-bar .dhcp-spoofing-btn .bullitts .bullits-item {
  width: 5px;
  aspect-ratio: 1;
  border-radius: var(--cir-bor-rad);
  background-color: var(--black);
}/*# sourceMappingURL=style.css.map */