.navbar-fixed,
.nav__menu-list,
.container-navbar {
  display: flex;
}

.link__decoration {
  text-decoration: none;
}

.link__hover {
  transition: var(--transition);
}

.nav {
  &__menu-list {
    list-style-type: none;
  }

  &__menu-item {
    padding-inline: 12px;
  }

  &__menu-link {
    color: var(--foreground);
  }

  &__menu-link--font {
    font-family: var(--font-family);
    font-size: var(--font-16);
  }

  &bar-fixed--align-inside {
    justify-content: space-between;
  }
}
