:root {
  --white: #fff;
  --black: #000;
  --alt-white: #e8eae6;
  --alt-black: #22252a;
  --gray-text: #a2a2a2;

  --border-color: #2e3138;
  --alt-border-color: #333;

  --bor-rad: 30px;
  --stick-bor-rad: 50px;
  --cir-bor-rad: 100%;

  --bor-width: 2px;
  --alt-bor-width: 3px;
}
