:root {
  --background-black: hsla(0, 5%, 11%, 1);

  --text-white: hsla(206, 89%, 99%, 1);
  --text-black: hsla(208, 17%, 13%, 1);
  --text-black-title: var(--background-black);
  --text-blue: hsla(206, 89%, 55%, 1);
  --text-gray: hsla(209, 18%, 45%, 1);

  --background-white: var(--text-white);
  --background-gray: hsla(204, 19%, 95%, 1);

  --font-28: 28px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family-poppins: "Poppins", "Times New Roman";
  --font-family-dm-sans: "DM_Sans", "Times New Roman";
  --font-family-epilogue: "Epilogue", "Times New Roman";

  --transition: all 0.2s linear;
}
