:root {
  --font-72: 72px;
  --font-20: 20px;
  --font-18: 18px;
  --font-48: 48px;
  --font-16: 16px;
  --font-22: 22px;
  --font-40: 40px;
  --font-20: 20px;
  --font-54: 54px;
  --font-24: 24px;
  --font-15: 15px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --font-family: "Poppins", Arial, sans-serif;

  --transition: all 0.2s linear;
}
